$body-font: "Roboto";

body {
  font-family: $body-font;
  margin: 0;
}

.main-container {
  width: 100%;
}

header {
  display: flex;
  padding: 3rem;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.logo {
  width: auto;
  img {
    width: 100%;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  background: rgba(234, 234, 234, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  p {
    font-family: $body-font, sans-serif;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  height: 240px;
  width: 100%;
  padding: 30px 0;

  h2 {
    width: 275px;
    height: 68px;
    font-weight: 700;
    font-size: 24px;
  }
  p {
    color: rgba(53, 53, 53, 1);
    font-weight: 300;
    padding-left: 35px;
  }
}

.button {
  text-align: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.38);
  padding: 20px;
  color: #fff;
  font-family: $body-font;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  width: 218px;
  transition: 400ms;
  // pour que l'effet soit inversé au survol 
  &:hover {
    opacity: 0.85;
    box-shadow: 0 15px 25px 0px rgba(0, 0, 0, 0.6);
    // ombre plus portée au survol
  }
}

.fonction-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fonction {
  padding: 20px 20px 50px 20px;

  .list {
    display: flex;
    gap: 25px;
    list-style: none;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 20px;
    padding: 28px 35px;
  }
  .fa-list {
    color: rgba(126, 126, 126, 1);
  }
  .fa-mobile-screen-button {
    color: rgba(126, 126, 126, 1);
  }
  .fa-store {
    color: rgba(147, 86, 220, 1);
  }
}

.number-list {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  background: rgba(147, 86, 220, 1);
  border: solid 1px;
  border-radius: 100px;
  margin-left: -45px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
}

.food {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 20px;
}

.card {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
    height: 231px;
    border-radius: 20px 20px 0 0;
  }
  h4, p {
    margin: 0;
    padding: 0;
  }
}

.card-text {
  padding-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.card-heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 22px;
  height: 21px;
  i {
    position: absolute;
    cursor: pointer;
    font-size: 25px;
  }
}

.my-heart-full {
  opacity: 0;
  transition: 400ms;
  &:hover {
    opacity: 1;
    color: #9356dc;
  }
}

footer {
  background: rgba(53, 53, 53, 1);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22px 25px;
  h3 {
    font-style: italic;
    color: white;
    font-family: "Shrikhand";
    font-weight: 400;
  }
  a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 20px;
  }
  i {
    width: 11px;
    height: 13px;
  }
  .contain {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
